.App {
  text-align: center;
}

input[type="file"] {
  width: 450px;
  border-radius: 14px;
  height: 150px;
  border: 2px dashed #dbdbdb;
  color: #fff;
}


.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.cancel-btn {
  cursor: pointer;
}

.color-red h4 {
  color: red;
}

.color-green h4 {
  color: green;
}

.color-blue h4 {
  color: blue;
}

/* 
body {
  display: grid;
  place-items: center;
  margin: auto;
}

.wrapper {
  position: relative;
}

input[ type="file"] {
  display: none;
}

.input-label {
  border: 2px dashed #dbdbdb;
  width: 300px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.dragOver {
  opacity: 0.5;
} */

.d-flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}